@tailwind components;
@tailwind base;
@tailwind utilities;
@layer components {
    .range-input {
        background: none;
        pointer-events: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
    }
    .range-input::-webkit-slider-thumb {
        pointer-events: auto;
        appearance: none;
        &:hover {
            box-shadow: 0 0 0 10px rgba(165, 180, 252, 0.5);
        }
        @apply rounded-full w-[16px] h-[16px] bg-primary-400 transition-all
    }
    .range-input::-moz-range-thumb {
        pointer-events: auto;
        appearance: none;
        &:hover {
            box-shadow: 0 0 0 10px rgba(165, 180, 252, 0.5);
        }
        @apply rounded-full w-[16px] h-[16px] bg-primary-400 transition-all
    
    }
}
